<div class="body">
  <mat-card class="account" *ngIf="direction !== undefined">
    <div style="text-align:center">
      <section class="header">
        <!--
        <img *ngIf="!url" [src]="data" class="profile" />
        <img  *ngIf="url"src='https://ipfs.infura.io/ipfs/{{ url }}'class="profileInfura" />
       <h4 *ngIf="profile"> Welcome {{ profile.name }}   </h4>
       <h6 *ngIf="profile">{{ profile.emoji }}</h6> 
        -->
        <h4>Your address is:</h4>
        <h6>{{ direction }} </h6>
        <h4>Balance:</h4>
        <h5>{{ balance }} ETH</h5>
      </section>
    </div>

  </mat-card>
</div>
<div class="body" *ngIf="direction == undefined">

  <mat-card class="account">

    <div style="text-align:center">
      <section class="header">
        <h3> Click connect account to connect the wallet provider </h3>
        <button mat-raised-button color="accent" class="big-round-shape-button" (click)="connectAccount()"> Connect Account</button>
        &nbsp;
      </section>
    </div>

  </mat-card>
</div>
