.body{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 10px;
}
.profile{
  border: 3px solid #dc3545;
  border-radius: 50%;
  background-position: center center;
  width: 170px;
  height: 170px;
}

.profileInfura{
  border: 3px solid #dc3545;
  border-radius: 50%;
  width: 20%;
  background-position: center center;
  width: 170px;
  height: 170px;
}